# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extension modules
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.dist-info/
build/
develop-eggs/
.eggs/
.eggs-info/
lib/
lib64/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test and coverage reports
.coverage
coverage.xml
*.cover
*.py,cover
nosetests.xml
test-results/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest cache
.cache

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db
